:root {
  --color-primary-brand: #4d5a45;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.filters-button:hover {
  font-family: inherit;
  cursor: pointer;
}

.filters-button:focus {
}
