:root {
  --color-primary-brand: #4d5a45;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.filters-button:hover {
  font-family: inherit;
  cursor: pointer;
}

.filters-button:focus {
}
